@import 'tachyons';

/* .map__wrapper--inner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.map__wrapper--outer {
  position: relative;
  height: 0;
  width: 100%;
  padding-bottom: 100%;
}
 */
